/* Variáveis globais */
:root {
    --primary-color: #4f46e5;
    --bg-color: #0f172a;
    --text-color: #e5e7eb;
    --card-shadow: rgba(0, 0, 0, 0.2);
}


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    color: var(--primary-color);
}

/* Galeria de memes */
.meme-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    max-width: 1000px;
}

.meme-Card {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px var(--card-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.meme-Card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px var(--card-shadow);
}
